.signup-container {
  background: #fff;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 5rem;
  // width: 300px;

  .samooha-icon-wrapper {
    height: 100px;
  }

  h3 {
    font-size: 20px;
    margin: 0px;
  }

  .margin-top {
    margin-top: 55px !important;
  }

  .input-wrapper {
    margin: 17px 0px;
    width: 60%;

    input {
      border: 0px;
      background-color: rgb(240, 242, 246);
      height: 45px;
      width: 100%;
      border-radius: 5px;
      padding-left: 10px;
    }

    input:focus {
      outline: 0;
    }

    img {
      cursor: pointer;
      position: relative;
      top: -36px;
      left: 196px;
      height: 13px;
      width: 16px;
    }
  }

  .policy-container {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #b6b1b1;
    font-family: Open Sans;
    text-align: center;

    a {
      color: #1f1fdb;
      text-decoration: none;
    }
  }

  .btn-wrapper {
    margin-top: 30px;

    .active-btn {
      border: 0px;
      width: 150px;
      height: 48px;
      background-color: #1f1fdb;
      color: #fff;
      border-radius: 5px;
      font-family: Open Sans;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }

    .disable-btn {
      background-color: #b6b1b1;
      cursor: not-allowed;
    }
  }

  .note-wrapper {
    margin-top: 50px;
    width: 76%;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: #b6b1b1;
    font-family: Open Sans;

    span {
      color: #5b5959;
    }
  }
}

.modal-wrapper {
  text-align: center;
  height: 150px;
  width: 300px;
  background-color: #fff;
  color: #000;
  padding: 45px;

  .btn-wrapper {
    margin-top: 30px;

    .active-btn {
      border: 0px;
      width: 150px;
      height: 48px;
      background-color: #1f1fdb;
      color: #fff;
      border-radius: 5px;
      font-family: Open Sans;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }

    .disable-btn {
      background-color: #b6b1b1;
    }
  }
}

@media screen and (max-width: 650px) {
  .signup-container {
    padding: 0px;

    .input-wrapper {
      img {
        left: 180px;
      }
    }
  }
}
